/*---------------------Header*/



.icon-bar{
    background-color: black;
}

.starboardlogo{
width: 14%;
align-items: center;
}


.navbar-toggle{
    margin-top: 15px;
    right: 190%;
}

.menu-text {
    color: black;
}


ul{
    text-align: center;
    font-family: 'Lato', sans-serif;
    
}
/*---------------------Fonts*/


/*---------------------Pages*/


.containerfluid{
    width:100%;
   
}

/*---------------------Index Page*/

.mainbox{
    padding: 0px;
    margin-bottom: -2px;
}

.mainimg {
    width:100%;
    padding: 0px;
    position: relative; 
    
}

.mainimg1 {
    padding: 0px;
}

.maintext{
    position: absolute;
    top:-1%;
    right: 0%;
     text-align: center;
    font-family: Oswald, sans-serif;
    font-size: 3em;
    color: #fefefe;
    letter-spacing: 25px;

}

.mainparagraph{
    position: absolute;
    color:#fefefe;
    top:60%;
    left: 5%;
    font-family: lato, sans-serif;
    font-size: 2rem;
    background:lightgrey;
    border-radius: 5px;
    padding:20px;
    letter-spacing: 15px;

}



.box-text{
    font-family: lato, sans-serif;
     color:#a9a9a9;
      font-size: 1rem;
      text-align: center;
       letter-spacing: 7px;
       margin-top: 20px;
       

}

.para-text{
    font-family: lato, sans-serif;
     color:black;
      font-size: 1rem;
      text-align: center;
       letter-spacing: 2px;
       margin-top: 10%;
       line-height: 50px; 
       

}

#brandtitle{
     font-family: lato, sans-serif;
     color:#a9a9a9;
      font-size: 1rem;
      text-align: center;
       letter-spacing: 10px;
       margin-top: 20px;
       margin-bottom: -30px;
}

#partnertitle{
     font-family: lato, sans-serif;
     color:#a9a9a9;
      font-size: 1rem;
      text-align: center;
       letter-spacing: 7px;
       margin-top: 20px;
       margin-bottom: 20px;
}

.partnercmp{
    width:100%;
    padding: 5%;
}

.content{
    font-family: lato;
    line-height: 10px;
    right: 10%;
    bottom: 10px;
    letter-spacing: 2px;
}





/*---------------------footer*/

.foot-tab{
    background-color: lightgrey;
    height: 50px;
    margin: 0px;
    padding: 0px;
}

.copyright{
    text-align: center;
    color:;
    line-height: 25px;
    font-family:lato,sans-serif;
}

/*---------------------indexpagetimeline*/

.timeline {
  position: relative;
  max-width: 400px;
  margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: grey;
  top: 0;
  bottom: 0;
  left: 0%;
  margin-left: -3px;
}

.square {
    position: relative;
    padding: 10px 40px;
}


.square::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  left: -12px;
  background-color: white;
  border: 4px solid #6699CC;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
  display: block;
}


.right::after {
  left: -16px;
}

.content {
  padding: 20px 30px;
  background-color: white;
  position: relative;
  border-radius: 6px;
}







/*---------------------AthletePages*/

.athlete{
    width:100%;
    height:100%;
}


.abox{
    height: 100%;
 
     padding: 0px;
    margin: 0px;
}


.athleteprofile{
    height:100%;
    width:100%;
}

.info-title{
    text-align: center;
    color:grey;
    
    
    font-family: lato, sans-serif;
    font-size: 3rem;
    letter-spacing: 15px;

}

.rimg{
 width:100%;
 margin: 0px;
 padding: 0px;

}

.bio-info{
    text-align: center;
       text-align: center;
    color:darkgrey;
    font-family: lato, sans-serif;
    font-size: 1rem;
    letter-spacing: 3px;
    line-height: 30px;
    margin-top: 10%;
    
}



.control-label{
    color:grey;
    font-family: lato, sans-serif;
    font-size: 1rem;
    letter-spacing: 3px;
    line-height: 30px;
   
}


.form-control{
    width: 90%;
    text-align: center;
    
}

.btn{
    
}


/*---------------------AthleteSocial*/

.social{
    background-color: lightgrey;
    padding-bottom: 2.5%;
    padding-top: 2.5%;
}

.logo{
    width:100%;
    padding: 10px;
}

.insta:hover{
    background-color: purple;
    border-radius: 5px;
}

.facebook:hover{
    background-color: #3b5998;
    border-radius: 5px;
}

.youtube:hover{
    background-color: red;
    border-radius: 5px;
}

.twitter:hover{
    background-color: #00aced;
    border-radius: 5px;
    
}


/*---------------------AthleteSchedule*/






/*---------------------Images*/


.boximg {
    width: 100%;
}

.brands {
    width: 100%;
    padding: 30px;
    margin-top: 20px;
}

/*---------------------video*/

.plasticvid {
    width:640px;
    height:480px ;
}

.fullscreen_bg {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
    background-attachment: fixed;
    
}

.fullscreen-bg_video {
        top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

body {
  background-attachment: fixed;
}


.videotxt {
  position: absolute;
  top: 60%;
  width: 100%;
  font-size: 36px;
  letter-spacing: 3px;
  color: #fff;
  font-family: Oswald, sans-serif;
  text-align: center;
}


/*---------------------profiles*/

.pimg{
    width:100%;
    margin: 0px;
    padding: 0px;
    height:100%;
    
}

.pro{
    padding:0px;
    position: relative; 
}

.profilename{
    position: absolute;
    top: 50%;
    text-align: center;
    font-family: Oswald, sans-serif;
    color: #fefefe;
}

/*---------------------contact*/

.tablinks{
    text-align: center;
    color:grey;
    font-family: lato, sans-serif;
    font-size: 3rem;
    letter-spacing: 3px;
    line-height: 90px;
    width:33%;
    height: 33%;
    background-color: white;
    border:2px solid ;
    border-color: black;
    
   
}

.can-do{
    width: 50%;
    height: 100px;
    text-align: left;
}

.next-w{
    text-align: center;
    font-family: lato, sans-serif;
    color: grey;
    font-size:1.3rem;
    letter-spacing: 2px;
    line-height: 45px;
    
}






/* Style the buttons inside the tab */
div.tab button {
    border: none;
    outline: none;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
div.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
div.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

.x-right{
    float: right;
    font-size: 2rem;
    font-family: lato, sans-serif;

}

.x-right:hover{
    font-size: 2rem;
    transform: rotateY(720deg);
        transition: ease-in-out 1s;

    

}


    
/*---------------------Desktop*/

@media only screen and (max-width: 864px) {
    
    .tablinks{
        width: 100%;
    }
    
}


@media only screen and (min-width: 800px) {
    
    .mainparagraph:hover{
  background-color: grey;
}
    
    
}
    

@media only screen and (min-width: 1170px) {
    
    .pro:hover{
        opacity: .5;
    }
    
    .profilename{
        display: none;
    }
    

    .maintext{
        font-size: 5rem;
    }
    
  .para-text{
   
      font-size: 3rem;
      line-height: 50px;
       letter-spacing: 15px;
}


}

/*---------------------filter div*/



.filterDiv {
   display: none;

}

/* The "show" class is added to the filtered elements */
.show {
        display: block;

}






