/*---------------------Header*/



.icon-bar{
    background-color: black;
}

.starboardlogo{
width: 14%;
align-items: center;
}


.navbar-toggle{
    margin-top: 15px;
    right: 190%;
}

.menu-text {
    color: black;
}


ul{
    text-align: center;
    font-family: 'Lato', sans-serif;
    
}
/*---------------------Fonts*/


/*---------------------Pages*/


.containerfluid{
    width:100%;
   
}

/*---------------------Index Page*/

.mainbox{
    padding: 0px;
    margin-bottom: -2px;
}

.mainimg {
    width:100%;
    padding: 0px;
    position: relative; 
    
}

.mainimg1 {
    padding: 0px;
}

.maintext{
    position: absolute;
    top:-1%;
    right: 0%;
     text-align: center;
    font-family: Oswald, sans-serif;
    font-size: 3em;
    color: #fefefe;
    letter-spacing: 25px;

}

.mainparagraph{
    position: absolute;
    color:#fefefe;
    top:90%;
    left: 20%;
    font-family: Oswald, sans-serif;
    font-size: 3rem;

}


.mainparagraph2{
    position: absolute;
    color:#fefefe;
    top:95%;
    left: 5%;
    font-family: Oswald, sans-serif;
    font-size: 1rem;
        letter-spacing: 5px;
}

.box-text{
    font-family: Oswald, sans-serif;
     color:#a9a9a9;
      font-size: 1rem;
      text-align: center;
       letter-spacing: 10px;
       margin-top: 20px;
       

}

.para-text{
    font-family: Oswald, sans-serif;
     color:black;
      font-size: 1rem;
      text-align: center;
       letter-spacing: 5px;
       margin-top: 10%;
       line-height: 50px; 
       

}

#brandtitle{
     font-family: Oswald, sans-serif;
     color:#a9a9a9;
      font-size: 1rem;
      text-align: center;
       letter-spacing: 5px;
       margin-top: 20px;
       margin-bottom: -30px;
}

#partnertitle{
     font-family: Oswald, sans-serif;
     color:#a9a9a9;
      font-size: 1rem;
      text-align: center;
       letter-spacing: 5px;
       margin-top: 20px;
       margin-bottom: 20px;
}

/*---------------------indexpagetimeline*/

.timeline {
  position: relative;
  max-width: 400px;
  margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: grey;
  top: 0;
  bottom: 0;
  left: 0%;
  margin-left: -3px;
}

.square {
    position: relative;
    padding: 10px 40px;
}


.square::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  left: -12px;
  background-color: white;
  border: 4px solid #FF9F55;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
  display: block;
}


.right::after {
  left: -16px;
}

.content {
  padding: 20px 30px;
  background-color: white;
  position: relative;
  border-radius: 6px;
}







/*---------------------AthletePages*/

.athlete{
    width:100%;
    height:100%;
}

.row {
    height:33.3%;
}

.abox{
    max-height: 33.3%;
    border: solid;
}

#profileimg{
    width: 100%;
}

.athleteh1{
    text-align: center;

}


/*---------------------AthleteSocial*/

.social{
    background-color: green
}

.logo{
    width:100%;
}


/*---------------------AthleteSchedule*/






/*---------------------Images*/


.boximg {
    width: 100%;
}

.brands {
    width: 100%;
    padding: 30px;
    margin-top: 20px;
}

/*---------------------video*/

.plasticvid {
    width:640px;
    height:480px ;
}

.fullscreen_bg {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
    background-attachment: fixed;
    
}

.fullscreen-bg_video {
        top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

body {
  background-attachment: fixed;
}


.videotxt {
  position: absolute;
  top: 60%;
  width: 100%;
  font-size: 36px;
  letter-spacing: 3px;
  color: #fff;
  font-family: Oswald, sans-serif;
  text-align: center;
}


/*---------------------profiles*/

.pimg{
    width:100%;
    margin: 0px;
    padding: 0px;
    height:100%;
    
}

.pro{
    padding:0px;
    position: relative; 
}

.profilename{
    position: absolute;
    top: 50%;
    text-align: center;
    font-family: Oswald, sans-serif;
    color: #fefefe;
}



/*---------------------footer*/

.arkite{
    width:50%;
    
}

.svsail{
    width:50%;
}

    
/*---------------------Desktop*/

@media only screen and (min-width: 1170px) {
    
    .pro:hover{
        opacity: .5;
    }
    
    .profilename{
        display: none;
    }
    

    .maintext{
        font-size: 5rem;
    }
    
  
    
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media all and (max-width: 600px) {
/* Place the timelime to the left */
  .timeline::after {
    left: 31px;
  }

/* Full-width containers */
  .container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

/* Make sure that all arrows are pointing leftwards */
  .container::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

/* Make sure all circles are at the same spot */
  .left::after, .right::after {
    left: 15px;
  }

/* Make all right containers behave like the left ones */
  .right {
    left: 0%;
  }
}





